main {
    .short-list {
        margin-bottom: 50px;

        ul {
            margin: 0;

            a:not(:hover, :focus-visible) {
                text-decoration: none;
            }

            @media print {
                padding: 0;

                li {
                    display: inline-block;
                    width: 220px;
                    margin-left: 20px;

                    &:before {
                        content: "•";
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .long-list {
        article {
            page-break-inside: avoid;
            overflow: hidden;

            @media screen {
                &:not(:first-of-type) {
                    margin-top: 50px;
                }
            }

            hr {
                opacity: 0.5;

                @media print {
                    display: none;
                }
            }

            h1 {
                a:not(:hover, :focus-visible) {
                    text-decoration: none;
                }
            }

            .sources {
                font-size: smaller;

                p {
                    margin-bottom: 5px;
                }

                ul {
                    margin-top: 0;

                    @media screen {
                        a:not(:hover, :focus-visible) {
                            text-decoration: none;
                        }
                    }
                }
            }

            .review {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 2px ridge grey;
            }

            .related {
                ul {
                    width: 100%;
                    padding: 0;

                    li {
                        display: inline-block;
                        width: 250px;
                        margin-left: 20px;

                        &:before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }
                }

                @media print {
                    display: none;
                }
            }
        }
    }

    .side-panel {
        font-size: small;
        page-break-inside: avoid;

        @media screen {
            hr:first-of-type {
                margin-top: 100px;
            }
        }

        h1 {
            font-size: large;
        }

        @media print {
            ul {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    @media screen {
        @media (min-width: 700px) {
            display: flex;

            .short-list {
                height: fit-content;
                flex-shrink: 0;

                margin-right: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 60px;

                border-right: 2px ridge grey;
            }

            .long-list {
                width: 100%;

                article {
                    &:first-of-type {
                        hr {
                            display: none;
                        }

                        h1 {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .side-panel {
                padding-left: 20px;

                hr:first-of-type {
                    display: none;
                }

                h1 {
                    margin-top: 10px;
                }
            }
        }
    }
}

.top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;

    button {
        font-size: large;
        cursor: pointer;
    }

    @media print {
        display: none;
    }
}
