.Heading {
    margin: 20px;
    padding-bottom: initial;
}

main {
    .short-list {
        margin-bottom: 50px;

        ul {
            margin: 0;
        }
    }

    .long-list {
        article {
            overflow: hidden;

            &:not(:first-of-type) {
                margin-top: 50px;
            }

            hr {
                opacity: 0.5;
            }

            .sources {
                p {
                    margin-bottom: 5px;
                }

                ul {
                    margin-top: 0;

                    li {
                        font-size: small;
                    }
                }
            }

            .review {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 2px ridge grey;
            }

            .related {
                ul {
                    width: 100%;
                    padding: 0;

                    li {
                        display: inline-block;
                        width: 250px;
                        margin-left: 20px;

                        &:before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 700px) {
        display: flex;

        .short-list {
            height: fit-content;
            flex-shrink: 0;

            margin-right: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 60px;

            border-right: 2px ridge grey;
        }

        .long-list {
            width: 100%;

            article {
                &:first-of-type {
                    hr {
                        display: none;
                    }

                    h1 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
