.Heading {
    padding: 10px;
    padding-bottom: initial;
}

main {
    .short-list {
        margin-bottom: 50px;

        ul {
            margin: 0;
        }
    }

    .long-list {
        article {
            &:not(:first-of-type) {
                margin-top: 50px;
            }

            hr {
                opacity: 0.5;
            }
        }
    }

    @media (min-width: 600px) {
        display: flex;

        .short-list {
            height: fit-content;
            flex-shrink: 0;

            margin-right: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 60px;

            border-right: 2px ridge grey;
        }

        .long-list {
            width: 100%;

            article {
                &:first-of-type {
                    hr {
                        display: none;
                    }

                    h1 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
