<!DOCTYPE html>
<html lang="en">

<head>
    {{>META}}

    <title> Can my dog eat...? </title>

    {{>ICON name="icon.png"}}

    {{>CSS name="boilerplate"}}
</head>

<body>

    <h1 class="Heading">
        Can my dog eat...
    </h1>

    {{!-- Rest of document --}}
    {{>@partial-block}}

</body>

</html>