<!DOCTYPE html>
<html lang="en">

<head>
    {{>META}}
    
    <title> Dog Food </title>

    {{>ICON name="icon.png"}}

    {{>CSS name="boilerplate"}}
</head>

<body>

    {{!-- Rest of document --}}
    {{>@partial-block}}

</body>

</html>