{{#>boilerplate}}
{{>CSS name="homepage"}}

<main>

    <div class="short-list">
        <ul>
            {{#each entries}}
            <li>
                <a href="#{{id name}}">
                    {{name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="long-list">
        {{#each entries}}
        {{>Item}}
        {{/each}}
    </div>

    <div class="side-panel">
        <hr />

        <h1>In General</h1>
        <p>
            The main human foods to not feed a dog are:
        </p>
        <ul>
            <li>
                <a href="#chocolate">Chocolate</a>
            </li>
            <li>
                <a href="#xylitol">Xylitol</a> (Artificial sweetener)
            </li>
            <li>
                <a href="#grapes">Grapes</a>
            </li>
            <li>
                <a href="#onion-garlic-chives-leeks">Onions, garlic, ect</a>
            </li>
        </ul>

        <div class="disclaimer">
            <h1>Disclaimer:</h1>
            <p>Please read the sources listed before trusting the information given. This website does not offer health advice.</p>
        </div>
    </div>
</main>

<a class="top-button" href="#">
    <button>↑</button>
</a>

{{/boilerplate}}