{{#>boilerplate}}
{{>CSS name="homepage"}}

<main>

    <div class="short-list">
        <ul>
            {{#each entries}}
            <li>
                <a href="#{{id name}}">
                    {{name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="long-list">
        {{#each entries}}
        {{>Item}}
        {{/each}}
    </div>

</main>
{{/boilerplate}}